.welcomeBox {
    background     : var(--bgColorB);
    position       : absolute;
    top            : 50%;
    left           : 50%;
    display        : flex;
    flex-flow      : row wrap;
    width          : 700px;
    height         : 700px;
    margin         : -350px 0 0 -350px;
    border-radius  : var(--boxRadius);
    box-shadow     : var(--shadow);
    justify-content: space-around;
    align-items    : center;
}

.welcomeLogo {
    width : auto;
    height: 100px;
    margin: 30px 0;
}

.welcomeTextBox {
    width     : 100%;
    max-height: 160px;
    display   : flex;
    flex-flow : row wrap;
    padding   : 0 40px;
}

.welcomeTitle {
    width      : 100%;
    color      : var(--textColor);
    font-size  : 45px;
    line-height: 40px;
}

.welcomeText {
    margin-top : 20px;
    color      : var(--textColor);
    line-height: 40px;
    text-align : justify;
    font-size  : 22px;
}

.welcomeButton {
    background   : var(--bgColorC);
    width        : 150px;
    height       : 40px;
    color        : var(--textColor);
    border-radius: var(--normalRadius);
    cursor       : pointer;
    text-align   : center;
    line-height  : 40px;
}

.welcomeButtonFa {
    font-size: 14px;
}

.welcomeTitleFa {
    font-size: 35px;
}

.welcomeTextFa {
    margin-top: 30px;
    font-size : 18px;
}

.widgetBox {
    width          : 300px;
    display        : flex;
    flex-flow      : row wrap;
    justify-content: space-around;
    margin-top     : 10px;
}

.languageBox {
    display  : flex;
    flex-flow: row wrap;
    direction: ltr;
}

.languageLink {
    width        : 35px;
    height       : 35px;
    border-radius: var(--normalRadius);
    margin       : 0 5px;
    font-size    : 16px;
    line-height  : 35px;
    text-align   : center;
    color        : var(--textColor);
}

.languageLinkFa {
    font-size: 12px;
}

.activeLanguage {
    background : var(--bgColorC);
    font-weight: bold;
}

.themeButton {
    width        : 35px;
    height       : 35px;
    border-radius: var(--normalRadius);
    margin-left  : 20px;
    line-height  : 35px;
    font-size    : 25px;
    cursor       : pointer;
}

.loading {
    position: fixed;
    top     : 50%;
    left    : 50%;
    width   : 150px;
    height  : 150px;
    margin  : -75px 0 0 -75px;
}


@media (max-width: 700px) or (max-height: 700px) {
    .welcomeBox {
        width        : 100vw;
        height       : 100vh;
        margin       : 0;
        top          : 0;
        left         : 0;
        box-shadow   : none;
        border-radius: 0;
        overflow     : auto;
    }

    .welcomeLogo {
        width        : auto;
        margin-bottom: 40px;
    }

    .welcomeTextBox {
        padding    : 0 20px;
        line-height: 35px;
        max-height : unset;
        margin     : 30px 0;
    }
}